* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ecf2f8;
  font-size: 10px;
  font-family: 'Manrope', sans-serif;
}

@media (min-width: 700px) {
  body {
    font-size: 13px;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr 4fr auto;
      grid-template-rows: 3fr 4fr auto;
  position: relative;
  width: 86%;
  height: 500px;
  border-radius: 8px;
  margin: calc((100vh - 500px) /2) auto;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px -20px #9eafc2;
          box-shadow: 0 10px 30px -20px #9eafc2;
}

@media (min-width: 700px) {
  .grid-container {
    height: 800px;
    margin: calc((100vh - 800px) /2) auto;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    width: 80%;
    height: 1000px;
    margin: calc((100vh - 1000px) /2) auto;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: 90%;
    max-width: 1100px;
    height: 400px;
    margin: calc((100vh - 400px) /2) auto;
    overflow: visible;
  }
}

.image {
  background-image: url(../images/drawers.jpg);
  background-size: cover;
  background-position: left;
}

@media (min-width: 1200px) {
  .image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }
}

.article {
  padding: 12% 10% 0;
  line-height: 1.5;
}

@media (min-width: 1200px) {
  .article {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    padding: 8% 12% 0 10%;
  }
}

.article__title {
  color: #48556a;
  font-size: 1.6em;
}

@media (min-width: 1200px) {
  .article__title {
    font-size: 2.1em;
  }
}

.article__txt {
  padding: 5% 0 10%;
  color: #6d7f97;
  font-size: 1.3em;
}

@media (min-width: 1200px) {
  .article__txt {
    padding: 4% 0 3%;
    font-size: 1.4em;
    line-height: 1.6;
  }
}

.author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 12% 5%;
}

@media (min-width: 1200px) {
  .author {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
    padding: 0% 10% 7%;
  }
}

.author__avatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .author__avatar {
    width: 50px;
    height: 50px;
  }
}

.author__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  padding-left: 15px;
  color: #48556a;
  font-weight: 700;
  font-size: 1.3em;
}

.author__date {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding-left: 15px;
  color: #9eafc2;
  font-size: 1.3em;
}

.share {
  position: absolute;
  bottom: 4.5%;
  right: 12%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .share {
    bottom: 8%;
    right: 5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 40px;
  }
}

.share--author {
  background-color: #ecf2f8;
}

.share--socials {
  display: none;
  background-color: #6d7f97;
}

.share img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
  .share img {
    width: 45%;
  }
}

.socials {
  display: none;
  -ms-grid-columns: 1fr (auto)[3] 1fr;
      grid-template-columns: 1fr repeat(3, auto) 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 4% 12% 5%;
  height: 40px;
  background-color: #48556a;
}

@media (max-width: 320px) {
  .socials {
    padding: 4% 2% 5%;
  }
}

@media (min-width: 1200px) {
  .socials {
    -ms-grid-columns: auto (25px)[3];
        grid-template-columns: auto repeat(3, 25px);
    -webkit-column-gap: 18px;
            column-gap: 18px;
    position: absolute;
    left: 93%;
    bottom: 32%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 40px;
    width: 240px;
    border-radius: 10px;
    padding: 12px 40px;
    -webkit-box-shadow: 0 10px 5px 0 rgba(158, 175, 194, 0.2);
            box-shadow: 0 10px 5px 0 rgba(158, 175, 194, 0.2);
  }
}

.socials__txt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  color: #9eafc2;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 4px;
}

@media (min-width: 1200px) {
  .socials__txt {
    font-size: 1.2em;
    letter-spacing: 5px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.socials__icon {
  color: #ecf2f8;
}

@media (min-width: 1200px) {
  .socials__icon {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .socials__icon img {
    -webkit-transform: scale(120%);
            transform: scale(120%);
  }
}

.socials__icon--fb {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.socials__icon--tt {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}

.socials__icon--pin {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: 1/4;
}

.socials__square {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
  background-color: #48556a;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(158, 175, 194, 0.2);
          box-shadow: 10px 10px 5px 0 rgba(158, 175, 194, 0.2);
}

.socials .share {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: 1/5;
  -ms-grid-column-align: end;
      justify-self: end;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 5px;
}

footer .attribution {
  color: #6d7f97;
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #48556a;
}
