* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  font-family: 'Manrope', sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 3fr;
      grid-template-rows: 2fr 3fr;
  width: 86%;
  height: 500px;
  margin: calc((100vh - 500px) /2) auto;
  overflow: hidden;
}

.image {
  background-image: url(../images/drawers.jpg);
  background-size: cover;
  background-position: left;
}

.socials {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}
