@import 'variables';

body {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;

    font-size: 10px;
    font-family: 'Manrope', sans-serif;

    @media (min-width:700px) {
        font-size: 13px;
    }

}